<br>
<br><br><br><br>
<div *ngIf="message" class="alert alert-danger" [innerHTML]="message"></div>
<form class="form-horizontal" [formGroup]="projectForm" validate>

  <div class="form-group row">
    <div class="col-sm-2">
      <label class="control-label" for="name">{{'PROJECT.PROJECT'|translate}}</label>
    </div>
    <div class="col-sm-8" [ngClass]="{'has-error': projectForm.controls.project.invalid && (projectForm.controls.project.dirty||projectForm.controls.project.touched) }">
      <input type="text" formControlName="project" class="form-control" id="project" placeholder="Enter Project Name">
    </div>
    <div class="alert-danger col-sm-2" *ngIf="projectForm.controls.project.invalid && (projectForm.controls.project.dirty||projectForm.controls.project.touched)">
      field is invalid
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      <input type="checkbox" formControlName="dateCheckbox" id="dateCheckbox" (click)="checkBoxClicked();">{{'PROJECT.DATECONT'|translate}}
    </div>
    <div class="col-sm-3" [ngClass]="{'has-error': projectForm.controls.startDate.invalid && (projectForm.controls.startDate.dirty||projectForm.controls.startDate.touched)}">
      <input type="date" formControlName="startDate" class="form-control" id="startDate" placeholder="{{'PROJECT.STARTDATE'|translate}}">
    </div>
    <div class="col-sm-3" [ngClass]="{'has-error': projectForm.controls.startDate.invalid && projectForm.controls.startDate.dirty}">
      <input type="date" formControlName="endDate" class="form-control" id="endDate" placeholder="{{'PROJECT.ENDDATE'|translate}}"
        (blur)="dateLessThan();">
    </div>
    <div class="alert-danger col-sm-1" *ngIf="projectForm.controls.startDate.invalid && (projectForm.controls.startDate.dirty||projectForm.controls.startDate.touched)">
      field is invalid
    </div>
  </div>


  <!-- <div class="form-group row">
    <label class="control-label col-sm-2" for="name">{{'USER.EMPID'|translate}}</label>
    <div class="col-sm-5" [ngClass]="{'has-error': projectForm.controls.endDate.invalid && projectForm.controls.endDate.dirty}">
      <input type="date" formControlName="endDate" class="form-control" id="endDate" placeholder="Enter End Date">
    </div>
    <div class="alert-danger col-sm-4" *ngIf="projectForm.controls.endDate.invalid && projectForm.controls.endDate.dirty">
      field is invalid
    </div>
  </div>-->
  <div class="form-group row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-7">0</div>
    <div class="col-sm-1">30</div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <label class="control-label " for="name">{{'PROJECT.PRIORITY'|translate}}</label>
    </div>
    <div class="col-sm-8">
      <input type="range" formControlName="priority" class="form-control" id="rangePriority" min="0" max="30" data-show-value="true"
        data-popup-enabled="true">
    </div>
    <div class="alert-danger col-sm-2" *ngIf="projectForm.controls.priority.invalid && projectForm.controls.priority.dirty">
      field is invalid
    </div>
  </div>


  <div class="form-group row">
    <div class="col-sm-2">
      <label class="control-label" for="name">{{'PROJECT.MANAGER'|translate}}</label>
    </div>
    <div [ngClass]="{'has-error': projectForm.controls.manager.invalid  && projectForm.controls.manager.dirty}">
      <div class="col-sm-7">
        <input type="text" formControlName="manager" class="form-control" id="manager" placeholder="{{'PROJECT.MANAGER'|translate}}">
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="displayModal()">{{'COMMON.SEARCH1'|translate}}</button>
      </div>
    </div>

    <div class="alert-danger col-sm-2" *ngIf="projectForm.controls.manager.invalid && projectForm.controls.manager.dirty">
      field is invalid
    </div>

  </div>
  <!--<div class="form-group row">
    <label class="control-label col-sm-2" for="name">{{'USER.EMPID'|translate}}</label>
    <div class="col-sm-5" [ngClass]="{'has-error': projectForm.controls.manager.invalid && projectForm.controls.manager.priority.dirty}">
      <input type="text" formControlName="manager" class="form-control" id="manager" placeholder="Enter Manager">
    </div>
    <div class="alert-danger col-sm-4" *ngIf="projectForm.controls.manager.invalid && projectForm.controls.manager.dirty">
      field is invalid
    </div>
  </div>-->

  <div class="form-group row">
    <input type="hidden" formControlName="projectId" class="form-control" id="projectId">
  </div>

  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-4" *ngIf=!editFlag>
      <button type="button" class="btn btn-success navbar-btn" (click)="addProject(editFlag)">{{'COMMON.ADD'|translate}}</button>
      
      <button type="reset" (click)="resetForm()" class="btn btn-success navbar-btn">{{'COMMON.RESET'|translate}}</button>
    </div>
    <div class="col-sm-offset-5 col-sm-2" *ngIf=editFlag>
      <button type="button" class="btn btn-primary navbar-btn" (click)="addProject(editFlag)">{{'COMMON.EDIT'|translate}}</button>
      <button type="reset" (click)="resetForm()" class="btn btn-primary navbar-btn">{{'COMMON.RESET'|translate}}</button>
    </div>
  </div>
  <br>
  <hr class="style5">
  <br>
  <div class="form-group row">
    <div>
      <div class="col-sm-6">
        <input type="text" formControlName="searchProjectName" class="form-control" id="searchProjectName" placeholder="{{'COMMON.SEARCH'|translate}}"
          (keydown.enter)="searchProject()">
      </div>
      <div class="col-sm-6">Sort:
        <button type="button" (click)="sortProject(1)" class="btn btn-danger navbar-btn">{{'PROJECT.STARTDATE'|translate}}</button>
        <button type="button" (click)="sortProject(2)" class="btn btn-danger navbar-btn">{{'PROJECT.ENDDATE'|translate}}</button>
        <button type="button" (click)="sortProject(3)" class="btn btn-danger navbar-btn">{{'PROJECT.PRIORITY1'|translate}}</button>
        <button type="button" (click)="sortProject(4)" class="btn btn-danger navbar-btn">{{'PROJECT.COMPLETE'|translate}}</button>
      </div>
    </div>
    <div class="alert-danger col-sm-4" *ngIf="projectForm.controls.searchProjectName.invalid && projectForm.controls.searchProjectName.dirty">
      field is invalid
    </div>
  </div>
</form>
{{projectForm.controls.value | json}}
<div class="list-group">
  <div *ngFor="let project of projects">
    <div class="row col-sm-12">
      <hr class="style5">
      <br>
      <div class="col-sm-4 my-background">
        {{'PROJECT.PROJECT'|translate}} {{project.project}}-{{project?.user?.userId}}
        <br> {{'PROJECT.NOOFTASK'|translate}} {{project.numberOfTasks}}
        <br> {{'PROJECT.STARTDATE'|translate}} {{project.startDate |date:short}}
      </div>
      <div class="col-sm-4 my-background">
        <br> {{'PROJECT.COMPLETE'|translate}} {{project.completedTasks}}
        <br> {{'PROJECT.ENDDATE'|translate}} {{project.endDate|date:short}}
      </div>
      <div class="col-sm-2">
        {{'PROJECT.PRIORITY1'|translate}}
        <br>
        <div class="my-background"><br>{{project.priority}}</div>
      </div>
      <div class="col-sm-2">
        <button type="button" (click)="loadProjectById(project.projectId)" class="btn btn-danger navbar-btn">{{'COMMON.UPDATE'|translate}}</button>
        <br>
        <button type="button" (click)="suspendProject(project.projectId)" class="btn btn-danger navbar-btn">{{'COMMON.SUSPEND'|translate}}</button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="projects?.length == 0">
  {{'MESSAGES.EMPTY'|translate}}
</div>
<!-- Modal -->

<div class="modal" id="myModal" role="dialog" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" #closeAddExpenseModal>&times;</button>
        <h4 class="modal-title">Search Managers</h4>
        <input type="text" [(ngModel)]="queryString" id="search" placeholder="Search to type">
      </div>
      <div class="modal-body">
        <!--<ul>
    <li *ngFor="let n of managers | UserPipe: queryString">
      {{n.firstName}},{{n.lastName}}
    </li>
  </ul>-->
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Filtered Manager</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let n of managers | UserPipe: queryString">
              <td (click)="selectManager(n.userId,n.firstName+' '+n.lastName)"> {{n.firstName}}&nbsp;{{n.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger navbar-btn" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>